
*{
    box-sizing:content-box;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
   
    margin:2px ;
    width: 90%;
    height:90%h;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #5ca279, #9e713d);
}


.a{
    border: 2px solid #2c333b;
    padding: 15px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(18, 91, 60, 0.5);

}

input{
    width: 300px;
    margin: 6px;
    font-size: 50px;
    text-align: right;
    background:transparent;
    box-shadow:#9fee50;
    cursor: pointer;
    color: #4b1616;
}
input::placeholder{
    padding-left: 10px;
    color: #abc6a7;
}

 button {
    border:#2966df 1px solid;
    width: 60px;
    height: 60px;
    margin: 20px;
    border-radius: 60%;
    background:#3db044;
    color: #ffffff;
    font-size: 15px;
    box-shadow: -8px -8px 15px rgba(188, 43, 43, 0.1);
    cursor: pointer;
}
.d{
    color: #49e111;
}


.c{
    width: 70px;
    border-radius: 12px;
    background-color: #fb7c14;
}
.container {
    border: #13100f;
    border-width: 4px;
}